<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<div>
    <h1><a href="/">CREME</a></h1>
    <h2>New Testbed</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        <h3>Number of machines:</h3>
        {{ form_testbed.as_p }}
        <h3>Scenario:</h3>
        {{ form_attack_scenario.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</div>